<link rel="stylesheet" href="css/layout.css">
<% if(!locals.userIn){ %>
    <div class=navbar>
        <a href="/users/sign-in"><button>Sign In</button></a>
        <a href="/users/sign-up"><button>Sign Up</button></a>
    </div>
<% }else{ %>
    <div class="navbar">
        Signed in as <%=locals.userIn.name%>
        <a href="/users/sign-out"><button>Sign Out</button></a>
        
    </div>
<%}%>

<h1>Hello Welcome to Nira!</h1>
<% if(locals.userIn){ %>
    <form action="/post/create" method="post" id="new-form-post">
        <textarea name="content" id="" cols="30" rows="10" placeholder="what's in your mind?"></textarea>
        <input type="submit" value="Post">
    </form>
<%}%>
<main>
    <div id="post-container">
        <%-include('posts')-%>
    </div>
</main>
<aside>
    <%for(users of all_users){%>
            <div><a href="users/profile/<%=users._id%>"><%= users.name %></a></div>
    <%}%>
</aside>
