body {
  background-color: red;
  color: white;
  text-align: center;
  font-size: 30px;
  margin: auto; }
  body .navbar {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end; }
    body .navbar a {
      text-decoration: none;
      margin: 5px; }
      body .navbar a button {
        background-color: black;
        padding: 10px;
        width: 100px;
        border-radius: 10px;
        font-size: 18px;
        color: wheat;
        border: none; }
  body aside {
    width: 10%;
    display: inline-block;
    vertical-align: top;
    border-left: 2px solid black; }
  body main {
    width: 89%;
    display: inline-block;
    vertical-align: top; }
